REACT_APP_BACKEND_URL=https://bbb.natam.fr/workland-api
REACT_APP_GITHUB_LOGIN=$REACT_APP_BACKEND_URL/auth/github
SKIP_PREFLIGHT_CHECK=true
NODE_ENV=development
REACT_APP_WS_ENDPOINT=ws://localhost:5080