COOKIE_KEY="cookie_key"
 
# DATABASE LOCAL
POSTGRES_HOST=localhost
POSTGRES_DB=workland
POSTGRES_USER=development
POSTGRES_PASSWORD="dev"
POSTGRES_PORT=5432

# DB_MAIN_SCHEMA=""
# DB_AUDIT_SCHEMA=""

# DATABASE CLOUD
DATABASE_URL=""
# DB_SSL=true

  

GITHUB_CLIENT_ID=github_client_id
GITHUB_CLIENT_SECRET=github_client_secret
GITHUB_CALLBACK=http://localhost:5002/auth/github/callback

CLIENT_URL=http://localhost:5001

IP_KEY=""

BBB_URL=bigbluebutton_url
BBB_SECRET=bigbluebutton_secret

ADMIN_PASSWORD=password
NODE_ENV=development
