.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: auto;  */
  align-items: center
}

.main-dashboard-layout {
  display: flex;
  flex-direction: column;
  align-items: center
}

.bbb-iframe {
  width: 100%;
  height: 90vh;
}